<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    // Set theme to the user's preferred color scheme
    function updateTheme() {
        const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
          "dark" :
          "light";
        document.querySelector("html").setAttribute("data-bs-theme", colorMode);
    }
      
    // Set theme on load
    updateTheme()
      
    // Update theme when the preferred scheme changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
  </script>
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet">
</head>