<script>
"use strict";
    
window.onload = function()
{
    var emulator = window.emulator = new V86({
    wasm_path: "/../src/v86.wasm",
    memory_size: '{{ include.memory }}',
    vga_memory_size: 2 * 1024 * 1024,
    network_relay_url: 'wss://relay.widgetry.org',
    screen_container: document.getElementById("screen_container"),
    bios: {
        url: "/../src/seabios.bin",
    },
    vga_bios: {
        url: "/../src/vgabios.bin",
    },
    cdrom: {
        url: '{{ include.cdrom }}',
    },
        autostart: true,
    });

    document.getElementById("vga").onclick = function()
    {
        emulator.lock_mouse();
    };
    document.getElementById("lockmouse").onclick = function()
    {
        emulator.lock_mouse();
    };
}
</script>
<button type="button" class="btn btn-primary" onclick="goFullscreen('vga'); return false">Fullscreen</button>
<button type="button" id="lockmouse" class="btn btn-primary">Lock mouse</button>
<div id="screen_container">
<div style="white-space: pre; font: 14px monospace; line-height: 14px"></div>
<canvas style="display: none" id="vga"></canvas>
</div>